const String supabaseUrl = 'YOUR_SUPABASE_URL';
const String supabaseAnonKey = 'YOUR_SUPABASE_ANON_KEY';
const webClientId = 'my-web.apps.googleusercontent.com';
const androidClientId = 'my-android.apps.googleusercontent.com';